<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @project.title %></h2>
<p class="todo_list_sub_title"><%= @project.description %></p>



<div id="todo_items_wrapper">
  <%= render @project.tasks %>
  <div id="form">
    <%= render "tasks/form" %>
  </div>
</div>

<div class="links">

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>

</div>